---
import { getCollection } from "astro:content";
import Layout from '@layouts/Layout.astro';
import { render } from "astro:content";
import { Button } from "@heroui/react";
const works = await getCollection("works");

export const getStaticPaths = async () => {
  const works = await await getCollection("works");
  const paths = works.map((work) => {
    return {
      params: { work_id: work.id },
      props: { work },
    };
  });

  return paths;
};

const { work }: Props = Astro.props;
const { Content } = await render(work);
---
<Layout>
  <div class="w-full px-4">
    <Content/>
  </div>
</Layout>
