---
import Layout from '@layouts/Layout.astro';
// import MemberGrid from '@components/AllImageGrid.tsx'
import { getCollection, render } from "astro:content";

const pages = await getCollection("pages");
const indexPage = pages.filter(({ data }) => data.title === "Home")[0];

const { Content } = await render(indexPage);
---
<Layout>
  <h1 class="text-xl md:text-3xl mb-8">
    Hi, I'm Les and this is my portfolio.
  </h1>
  <!-- <Fragment set:html={indexPage.body}></Fragment> -->
   <Content />
</Layout>
