---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

const music = await getCollection("music");
---

<Layout>
	<div class="gap-1 pt-4 columns-1 sm:columns-2 xl:columns-3">
	{music.map((music) => <div class="overflow-hidden mb-1 shadow-xl">
		<a
    href={`/${music.id}`}
    class="block overflow-hidden mb-1 shadow-xl relative">
		<img src={`${music.data.heroImage.replace("public", "")}`} class="transition duration-300 ease-in-out hover:scale-108" />
		</a>
	</div>)}
	</div>
</Layout>
