<footer>
  <p>
    © 2025 Les Banzuelo. All rights reserved. Site by <a href="https://vinnymarquez.dev" target="_blank">vinnymarquez.dev</a>.
  </p>
</footer>
<style>
  footer {
    padding: 2rem 0;
  }
  p {
    margin: 0;
    /* font-weight: bold; */
    line-height: 1.4;
    text-align: center;
    color: var(--color-text-alt);
  }
</style>

