---
import Image from './Image.js';

const { work } = Astro.props;
---

<div class="gap-1 pt-4 columns-1 sm:columns-2 xl:columns-3">
  {work.data.attachments.map((attachment: string) => <div class="overflow-hidden mb-1 shadow-xl">
    <img src={`${attachment.replace("public", "")}`} class="transition duration-300 ease-in-out hover:scale-108" />
  </div>)}
</div>
